.symbols {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: wrap row;
  margin: 12.5%;
  width: 75%;
  height: 75%;
  position: relative;

  & div {
    text-align: center;
    display: inline-block;
    width: 32px;
    transform: scale(1.6);
  }
}

.card {
  &-A .symbols div {
    transform: scale(5);
  }

  &-2 .symbols,
  &-3 .symbols {
    flex-direction: column;
    justify-content: space-around;
  }

  &-2 .symbols :last-child,
  &-3 .symbols :last-child,
  &-4 .symbols :nth-child(3),
  &-4 .symbols :nth-child(4),
  &-5 .symbols :nth-child(3),
  &-5 .symbols :nth-child(4),
  &-6 .symbols :nth-child(5),
  &-6 .symbols :nth-child(6),
  &-7 .symbols :nth-child(5),
  &-7 .symbols :nth-child(6),
  &-8 .symbols :nth-child(5),
  &-8 .symbols :nth-child(6),
  &-8 .symbols :nth-child(8),
  &-9 .symbols :nth-child(5),
  &-9 .symbols :nth-child(6),
  &-9 .symbols :nth-child(7),
  &-9 .symbols :nth-child(8),
  &-10 .symbols :nth-child(5),
  &-10 .symbols :nth-child(6),
  &-10 .symbols :nth-child(7),
  &-10 .symbols :nth-child(8),
  &-10 .symbols :last-child {
    transform: rotate(180deg) scale(1.6);
  }

  &-5 .symbols :last-child,
  &-7 .symbols :last-child,
  &-8 .symbols :last-child,
  &-8 .symbols :nth-child(7),
  &-9 .symbols :last-child,
  &-10 .symbols :nth-child(9),
  &-10 .symbols :last-child {
    position: absolute;
  }

  &-7 .symbols :last-child,
  &-8 .symbols :nth-child(7) {
    top: 25%;
  }

  &-8 .symbols :nth-child(8) {
    bottom: 25%;
  }

  &-10 .symbols :nth-child(9) {
    top: 18%;
  }

  &-10 .symbols :last-child {
    bottom: 18%;
  }
}
